@(provinces:play.api.libs.json.JsValue)(implicit request:play.api.mvc.Request[play.api.mvc.AnyContent])

@moreScripts = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")"/>
        
    <script src="@routes.Assets.at("javascripts/apartment.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")" type="text/javascript"></script>
    
    <script>
	var CREATE_PATH = '@routes.ApartmentController.create()';
	var PROVINCES = @{play.api.templates.Html(provinces.toString)}
	console.log(PROVINCES);
	
	function TypeaheadCtrl($scope) {
  		$scope.selected = undefined;
  		$scope.states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Dakota', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];
	}
	
	angular.module('project').controller('FormController',FormController);

	$(function(){
		
	});
	</script>
}

@main("Welcome to Play 2.1", moreScripts) {
<div ng-controller="FormController">
			<div style="background: rgba(0, 0, 0, 0.4);padding: 0 30px;overflow: auto;">
				<h1 style="color: #bbbbbb; padding: 10px 0 15px 10px;">Размещение объявления</h1>
				<form name="apForm" ng-submit="save()" class="form form-horizontal" style="padding: 0 20px;">
					<div class="add-apartment-form">
						<table class="add-apartment-table" cellpadding="0" width="100%" style="background: none;">
							<tbody>
								<tr>
									<td colspan="2"><h4 style="border-bottom: 1px solid #ccc;">Основная информация</h4></td>
								</tr>
								<tr>
									<td style="width: 150px;"><label for="" class="control-label">Рубрика:</label></td>
									<td>Длительная аренда квартир<a class="change-rub" href="/add">Сменить рубрику</a>
									<input type="hidden" name="period" ng-model="period" value="@request.queryString.get("period")" />
									</td>
								</tr>
								<tr>
									<td><label for="" class="control-label">Тип объявления:</label></td>
									<td>
										Сдам <input type="hidden" name="adType" ng-model="adType" value="@request.queryString.get("type")" />
									</td>
								</tr>
								<tr>
									<td><label for="" class="control-label">Регион:</label></td>
									<td>
										<select class="selectpicker" ng-options="i.id as i.name for i in provinces" ng-model="province"
										data-live-search="true" data-width="250px" ng-change="loadCities()">
											<option value=''>Выберите регион</option>
										</select>
									</td>
								</tr>
								<tr id="city-list-wrapper" ng-hide="cityWrapper">
									<td><label for="" class="control-label">Город:</label></td>
									<td>
										<select class="selectpicker" ng-options="i.id as i.name for i in cities" name="city" ng-model="city" 
										data-live-search="true" data-width="250px" ng-change="loadDistricts()">
												<option value=''>Выберите город</option>
										</select>
									</td>
								</tr>
								<tr id="district-list-wrapper" ng-hide="districtWrapper">
									<td><label for="" class="control-label">Район:</label></td>
									<td>
										<select class="selectpicker" ng-options="i.id as i.name for i in districts" name="district" ng-model="district" 
										data-live-search="true" data-width="250px">
												<option value=''>Выберите район</option>
										</select>
									</td>
								</tr>
								<tr class="control-group" ng-class="{error:!apForm.street.$valid}">
									<td><label for="title" class="control-label">Улица:</label></td>
									<td>
										<input class="form-control" type="text" id="street" name="street" ng-model="street"
										 valid-street style="width:250px;" placeholder="Пример: Юмашева 21"/>
										<div class="help-inline">
							                <span ng-show="!!apForm.street.$error.isBlank">Укажите заголовок</span>
							                <span ng-show="!!apForm.street.$error.invalidLen">Не может быть длинее 20 символов</span>
							            </div>
									</td>
								</tr>
								<tr class="control-group" ng-class="{error:!apForm.title.$valid}">
									<td><label for="title" class="control-label">Заголовок:</label></td>
									<td>
										<input class="form-control" type="text" id="title" name="title" ng-model="title" 
										 valid-title placeholder="Пример: В центре города 2х комнатная с кондиционером"/>
										<div class="help-inline">
							                <span ng-show="!!apForm.title.$error.isBlank">Укажите заголовок</span>
							                <span ng-show="!!apForm.title.$error.invalidLen">Не может быть длинее 70 символов</span>
							            </div>
									</td>
								</tr>
								<tr>
									<td><label for="" class="control-label">Комнат:</label></td>
									<td>
										<select class="selectpicker" name="rooms" ng-model="rooms" class="bedroom-select" data-width="85px">
											<option	value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
										</select>
									</td>
								</tr>
								<tr class="control-group" ng-class="{error:!apForm.price.$valid}">
									<td><label for="price" class="control-label">Стоимость(Грн/мес):</label></td>
									<td>
										<input class="form-control" id="price" name="price" ng-model="price" 
										type="text" style="width:85px;" valid-price />
										<div class="help-inline">
							                <span ng-show="!!apForm.price.$error.isBlank">Укажите стоимость</span>
											<span ng-show="!!apForm.price.$error.invalidChars">Только целое число. Например: 2500</span>
							                <span ng-show="!!apForm.price.$error.invalidLen">Не может быть длинее 10 символов</span>
							            </div>
        							</td>
								</tr>
								<tr>
									<td><label for="" class="control-label">Текст объявления:</label></td>
									<td><textarea class="form-control" name="description" ng-model="description" style="height:200px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</textarea></span></td>
								</tr>
								<tr>
									<td><label for="" class="control-label">Дополнительно:</label></td>
									<td><table class="checkbox" style="border-spacing: 0;background: none;" cellpadding="0" width="100%">
											<tbody>
												<tr>
													<td><label for="fu"><input id="fu" type="checkbox" name="fu" ng-model="fu" />С мебелью </label></td>
													<td><label for="fr"><input id="fr" type="checkbox" name="fr" ng-model="fr" />Кабельное телевидение </label></td>
													<td><label for="it"><input id="it" type="checkbox" name="it" ng-model="it" />Интернет</label></td>
												</tr>
												<tr>
													<td><label for="ai"><input id="ai" type="checkbox" name="ai" ng-model="ai" />Кондиционер</label></td>
													<td><label for="wa"><input id="wa" type="checkbox" name="wa" ng-model="wa" />Стиральная машинка</label></td>
													<td><label for="bo"><input id="bo" type="checkbox" name="bo" ng-model="bo" />Бойлер</label></td>
												</tr>
												<tr>
													<td><label for="fi"><input id="fi" type="checkbox" name="fi" ng-model="fi" />Холодильник</label></td>
													<td><label for="ca"><input id="ca" type="checkbox" name="ca" ng-model="ca" />Камин</label></td>
													<td><label for="ne"><input id="ne" type="checkbox" name="ne" ng-model="ne" />Рядом парковка</label></td>
												</tr>
											</tbody>
										</table></td>
								</tr>
								<tr>
									<td><label for="" class="control-label">Фотографии:</label></td>
									<td>
										<div>
											<button class="btn btn-primary">Добавить фото</button>
											<div style="width: 20em; border: 1pt solid silver; display: none" id="progress">
												<div style="background: green; height: 1em; width: 0%" id="progress-bar"></div>
											</div>
										</div>

										<ul id="images-list" class="ui-sortable" style=""></ul></td>
								</tr>
								<tr>
									<td colspan="2"><h4 style="border-bottom: 1px solid #ccc;">Контактные данные</h4></td>
								</tr>
								<tr>
									<td><label for="" class="control-label">Телефон:</label></td>
									<td>
										<input class="form-control" name="mobileNumber" ng-model="mobileNumber" 
										placeholder="Пример: +38 (xxx) xxx-xx-xx" value="(099) 500-38-23" style="width:270px;"/>
									</td>
								</tr>
								<tr>
									<td><label for="" class="control-label">E-mail:</label></td>
									<td>
										<input class="form-control" name="email" ng-model="email" 
										placeholder="Пример: balakhonov.yuriy&#64;gmail.com" 
										value="balakhonov.yuriy&#64;gmail.com" style="width:270px;"/>
									</td>
								</tr>
								<tr>
									<td colspan="2"></td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="form-actions">
									        <input type="submit" class="btn btn-primary" value="Опубликовать" 
									        id="formSubmitBtn" ng-show="formAllGood()"/>
									    </div>
	    							</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
				<div style="display:none;">
					<form id="F399836145001LIFB4V">
						<input style="display: none;" multiple="" data-url="/upload" name="files[]" type="file" id="file-uploader">
					</form>
				</div>
			</div>
	</div>
}