@(apartment:db.mapping.Apartment)

@import helper._

@moreScripts = {
}

@main("Welcome to Play 2.1", moreScripts) {
	
@apartment

<div ng-controller="FormController">
	<input type="text" name="street" id="street" value="asd"/>
	<input type="submit" class="btn primary" value="Send"/>
	
	<ul class="unstyled">
        <li ng-repeat="todo in apartments">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.title}}</span>
        </li>
      </ul>
</div>

<div class='container-fluid' ng-controller="TypeaheadCtrl">
    <pre>Model: {{selected| json}}</pre>
    <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8">
</div>
}