@(ap:db.mapping.Apartment)

@import helper._

<table class="big">
<tr class="apartments-list">
	<td style="display: none;">9</td>
	<td><div class="post-meta">
			<div>
				<ul class="clearfix">
					<li class="post-title"><a class="title-link" title="@ap.title" href="/apartment?id=9">@ap.title</a></li>
					<li class="ad-type">@ap.adType</li>
					<li class="post-posted">@ap.postedDate</li>
				</ul>
			</div>
		</div>
		<table class="ap-info">
			<tbody>
				<tr>
					<td class="left">
						<div class="img-wrap">
							<a title="@ap.title" href="/apartment?id=9"><img style="width: 200px;" alt="@ap.title" src=@routes.ResourceManager.getResource("/images/noimage.png")></a>
						</div>
					</td>
					<td class="right">
						<div class="price">$ @ap.price</div>
						<h5 class="street">@ap.district, @ap.street</h5>
						<div class="rooms">Комнат: @ap.rooms</div>
						<div class="widget amenities">
							<ul class="first">
								<li>Холодильник</li>
								<li>Стиральная машина</li>
								<li>Мебель</li>
							</ul>
							<ul>

							</ul>
							<div class="clear"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table></td>
</tr>
</table>