@(apartment:db.mapping.Apartment)

@import helper._

@moreScripts = {
	<script>
	var CREATE_PATH = @routes.Apartments.create()
	</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="@routes.Assets.at("javascripts/apartment.js")" type="text/javascript"></script>
}

@main("Welcome to Play 2.1", moreScripts) {
	
	@apartment
 <div ng-controller="FormController">
	<input type="text" name="street" id="street" value="asd"/>
	<input type="submit" class="btn primary" value="Send"/>
</div>
}